*{
    margin: 0;
    padding: 0;
}
body {
        background-image: linear-gradient(to right , #AFEE , #AFAA);
        
    
}


#main{
width: 100%;


}

nav ul{
   
    background-color: rgb(10, 9, 9);
    list-style: none ;
    display:flex ;
    width:100% ;
    height: 50px;
    gap: 2rem;
    align-items:center;





}
nav ul li a{
font-size: 70%;
color: rgb(83, 83, 243);
text-transform: uppercase;
margin-left: 70px;
text-decoration: none;


}

nav ul li a:hover{
    color: burlywood;
    font-size: 20px;
    text-decoration: underline;


}

section{
    min-height:100vh;

}

#sobre{

padding-top: 100px;
width: 100%;
height: 100px;
background-image: url('/img/pexels.png');
background-size: cover;
}

#portifolio{
    padding-top: 100px;
    width: 100%;

}
#contato{

    padding-top: 100px;
    width:100px;
    text-align: center;
}
h1{
    font-size: 40px;
    text-align: center;

}
p{
    font-size: 20px;
    text-align: center;
    color: rgb(221, 31, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
    width: 20%;
    height:80vh;
    display:  inline-block;
    background-color: aqua;
    margin-top: 20px;
    margin-left: 10%;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;

}

.card h3{
font-size: 50px;
margin-top: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.card p{
    font-size: 20px;
    color: azure;

}
.button{
    display: block;
    margin: 10px 70px;
    padding: 5px 10px;
    width: 100%;
    cursor:pointer;
    border-radius: 10%;
    height: 5px;
    background-color: darkmagenta;
}
    .card:hover{
    background-color:black;
    

    }
h2{

    font-size: 20px;
    text-align: center;
    width: 100%;
}
